<h2>Sign up</h2>

<div class="container">
  <div class="navigation">
    <ol>
      <li><a href="#">First Name</a></li>
      <li><a href="#">Last Name</a></li>
      <li><a href="#">Email</a></li>
      <li><a href="#">Password</a></li>
    </ol>
  </div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), id:"sign-form", class:"sign-form") do |f| %>
    <%= devise_error_messages! %>
    <ol class="questions">
      <li>
        <span><label for="name">Hi, What is your First Name?</label></span>
        <div class="field">
          <%= f.label :first_name %><br />
          <%= f.text_field :first_name, autofocus: true %>
        </div>
      </li>
      <li>
        <span><label for="name">What is your Last Name?</label></span>
        <div class="field">
          <%= f.label :last_name %><br />
          <%= f.text_field :last_name %>
        </div>
      </li>
      <li>
        <span><label for="email">Enter you email</label></span>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autocomplete: "email" %>
        </div>
      </li>
      <li>
        <span><label for="password">Choose a password</label></span>
        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
      </li>
      <li>
        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
      </li>
    </ol>
      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
<h1 id="wf" style="opacity:0;width: 600px; margin-top:1.1em;display:none; margin-bottom:1em">Thank you</h1>
