<div class="job" id="job-<%= job.id %>">
	User: <%= job.user.first_name %>
	Job: <%= job.description %> ,
	Destination: <%= job.destination %> ,
	Orgin: <%= job.orgin %> ,
	Containers: <%= job.containers %> ,
	Salary: <%= job.cost %>
	<div class="boat-jobs">
		<% job.boats.each do |boat| %>
			<%= render 'boat_jobs/jobboat', boat: boat %>
		<% end %>
	</div>
	<%= form_with model: BoatJob.new do |f| %>
		<%= f.collection_select(:boat_id, Boat.all, :id, :name, prompt: true) %>
		<%= f.hidden_field :job_id, value: job.id %>
		<%= hidden_field_tag :type, 'job'  %>
		<%= f.submit %>
	<% end %>
</div>