<h1>jobs#index</h1>


<% @jobs.each do |job| %>
	<h2>
		Job: <%= job.description %> ,
		Destination: <%= job.destination %> ,
		Orgin: <%= job.orgin %> ,
		Containers: <%= job.containers %> ,
		Salary: <%= job.cost %>
	</h2>
<% end %>