<h1>OMG CREATE A NEW JOB!</h1>
<p>Find me in app/views/jobs/new.html.erb</p>
<%= form_with model: @job, data: {"parsely-validate": ''}, local: true do |f| %>
	<%= f.text_field :description, placeholder: 'Description', required: true %>
	<%= f.text_field :destination, placeholder: 'Destination', required: true %>
	<%= f.text_field :orgin, placeholder: 'Orgin', required: true %>
	<%= f.number_field :containers, placeholder: 'Amount of Containers', required: true %>
	<%= f.number_field :cost, placeholder: 'Salary', required: true %>
	<%= f.submit %>
<% end %>
