<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><u><%= @user.first_name %> <%= @user.last_name %></u></h1>
    <p class="lead">Email: <%= @user.email %></p>
  </div>
</div>


<div class="container">
	<div class="row boats">
		<% current_user.boats.each do |boat| %>
			<div class="col-3">
				<div class="card text-white bg-dark mb-3" style="max-width: 18rem;" >
					<div class="boat">
					  <div class="card-header">Boat info:</div>
					  <div class="card-body">
					    <h5 class="card-title"><u>Name: <%= boat.name %></u></h5>
							<p class="card-text">location: <%= boat.location %>, Amount of containers:<%= boat.containers %>
								<% if boat.image.attached? %>
									<%= image_tag boat.image, class: "rounded img-thumbnail" %>
								<% end %>
								<%= link_to "View", boat %>
								<%= link_to "Delete", boat, method: :delete, remote: true, class:'delete-boat-link' %></p>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	</div>
	<div class="row jobs">
		<% current_user.jobs.each do |job| %>
			<div class="col-3">
				<div class="card text-white bg-danger mb-3 col-3" style="max-width: 18rem;">
					<div class="job">
					  <div class="card-header">Job</div>
					  <div class="card-body">
					    <h5 class="card-title">Description</h5>
							<p class="card-text">
								<%= job.description %>
								<%= link_to "View", job %>
								<%= link_to "Delete", job, method: :delete, remote: true, class:'delete-boat-link' %></p>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>


