<div class="boat">
	<h5><u>Boat info:</u></h5>
	<li class="list-group-item">Name: <%= boat.name %></li>
	<li class="list-group-item">location: <%= boat.location %>, Amount of containers:<%= boat.containers %></li>
	<% if boat.image.attached? %>
		<%= image_tag boat.image %>
	<% end %>
	<%= link_to "View", boat %>
	<%= link_to "Delete", boat, method: :delete, remote: true, class:'delete-boat-link' %>
</div>